<!DOCTYPE html>
<html>
<head>
  <title> <%= title %></title>

 <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %> 
<![endif ]-->
 <%=stylesheet_link_tag 'blueprint/screen',:media=>'screen' %>
 <%= stylesheet_link_tag 'blueprint/print',:media=>'print' %><![endif ]-->



</head>
<body>

<div class="container">
<header>
<%=image_tag("logo.png",:alt=>"Same App",:class=>"round") %>
<nav class="round">
	<ul>
	<li><%=link_to "Home",root_path%></li>	
    <li><%=link_to "Help",help_path%></li>
     <li><%=link_to "sign in",'#'%></li>
     <li><%=link_to "Contact",contact_path %></li>
   <ul>
   </nav>
</header>
<sction class="round">

<%= yield %>
</section>

</div>
</body>
</html>
